<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contactanos</title>
    <link rel="stylesheet" href="static/seet.css">
    <link rel="stylesheet" href="css/estilo.css">
</head>
<body>
    <div ><img  src="img/logo.jpg" alt="">
    </div>
        <h1 >Recuerda que nuestro horario de atencion es de las 9:00 hrs a las 20:00 hrs de lunes a sabado.</h1> 
    <div class="container">
           
        <nav class="nav-main">
            
         <div class="barra">
            
                <a href="index.html">Inicio</a>
           
            
                <a href="nosotros.html">Nosotros</a>
            
            
                <a href="cita.html">Reserva tu atención</a>
           
            
                <a href="servicios.html">Servicios</a>
            
            
                <a href="contactanos.html">Contactanos</a>
            
            
                <a href="opinion.html">Dejanos tu opinion</a>
          
            
          </div>
        </nav>
        <hr>


    <main>
        <h3>¿Como podemos contactarte?</h3>
        <div class="formularioReserva">
            <br>
            <br>
            <h2>Completa con tus datos</h2>
            <br>
            <br>
            <form action=" " method="POST" id="miReserva">
            Nombre: <input type="text" name="nombre" id="nombre"/>
            <br/>
            Correo: <input type="text" name="correo" id="correo"/>
            <br/>
            Telefono :<input type="text" name="telefono" id="telefono"/>
            <br/>
            <br>
            <br>
            <input type="button" value="Enviar" onclick="enviar()" />
            </form>
        </div>
        <h3>Te contactaremos a la brevedad</h3>

       



    </main>









</body>
</html>