<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link href="css/estilo.css" rel="stylesheet" media="screen" />
</head>
<body>

    <div ><img  src="img/logo.jpg" alt="">
    </div>
        <h1 >Bienvenido a UrbanStyle</h1> 
    <div class="container">
           
        <nav class="nav-main">
            
         <div class="barra">
            
                <a href="index.html">Inicio</a>
           
            
                <a href="nosotros.html">Nosotros</a>
            
            
                <a href="cita.html">Reserva tu atención</a>
           
            
                <a href="servicios.html">Servicios</a>
            
            
                <a href="contactanos.html">Contactanos</a>
            
            
                <a href="opinion.html">Dejanos tu opinion</a>
          
            
          </div>
        </nav>
        <hr>
    

</html>