<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nosotros</title>
    <link rel="stylesheet" href="css/estilo.css"type="text/css" media="screen"/></link>
</head>
<body>
    <img src="img/logo.jpg" alt="Logo">
    <h1>¿Quienes somos?</h1>
    <div class="container">
           
        <nav class="nav-main">
            
         <div class="barra">
            
                <a href="index.html">Inicio</a>
           
            
                <a href="nosotros.html">Nosotros</a>
            
            
                <a href="cita.html">Reserva tu atención</a>
           
            
                <a href="servicios.html">Servicios</a>
            
            
                <a href="contactanos.html">Contactanos</a>
            
            
                <a href="opinion.html">Dejanos tu opinion</a>
          
            
          </div>
        </nav>
        <hr>
    

    <main>
        

        <section class="columna">
           
            <div class="columnax1">
            <p>   
            UrbanStyle nace en el año 2019 en la ciudad de Talca. ante la creciente necesidad de las personas por tener
            una apariencia mas deslumbrante. Para eso esta UrbanStyle, que con excelente profesionales del area como estilistas, barberos,manicurista y de cuidado facial, estan para entregar 
            una excelente atencion.
            En su local ubicado al interior del mall plaza maule, cuenta con un gran espacio para antender a mas de 20 clientes a las vez, donde
            adicionalmente cuenta con la venta de productos de alta calidad para el cuidado capilar y facial, con los mejores precios del mercado 
            </p>
           </div>
            
        </section>
        <h3>No esperes mas y reserva tu hora!
            ¡En tu primera atencion solicita tu descuento!
        </h3>



    </main>




</body>
</html>