<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nosotros</title>
</head>
<body>
    <h1>Bienvenido a UrbanStyle</h1>
    <div class="container">
           
        <nav class="nav-main">
            
          <ul class="nav-menu">

            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a href="nosotros.html">Nosotros</a>
            </li>
            <li>
                <a href="./resarvatuhora.html">reserva tu atencion</a>
            </li>
            <li>
                <a href="./servicios.html">Servicios</a>
            </li>
            <li>
                <a href="contactanos.html">Contactanos</a>
            </li>
            <li>
                <a href="dejanostuvaloracion.html">Dejanos tu opinion</a>
            </li>
            
          </ul>
        </nav>
        <hr>

    <main>
        <h3>¿Quienes somos?</h3>

        <article>
            UrbanStyle nace en el año 2019 en la ciudad de Talca. ante la creciente necesidad de las personas por tener
            una apariencia mas deslumbrante. Para eso esta UrbanStyle, que con excelente profesionales del area como estilistas, barberos,manicurista y de cuidado facial, estan para entregar 
            una excelente atencion.
            En su local ubicado al interior del mall plaza maule, cuenta con un gran espacio para antender a mas de 20 clientes a las vez, donde
            adicionalmente cuenta con la venta de productos de alta calidad para el cuidado capilar y facial, con los mejores precios del mercado
            
        </article>
        <h4>No esperes mas y reserva tu hora!
            ¡En tu primera atencion solicita tu descuento!
        </h4>



    </main>




</body>
</html>