<!DOCTYPE html>

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dejanos tu opionion</title>
    <link rel="stylesheet" href="css/estilo.css" type="text/css" media="screen"/></link>
</head>
<body>
    <div ><img  src="img/logo.jpg" alt="">
    </div>
       
    <div class="container">
           
        <nav class="nav-main">
            
         <div class="barra">
            
                <a href="index.html">Inicio</a>
           
            
                <a href="nosotros.html">Nosotros</a>
            
            
                <a href="cita.html">Reserva tu atención</a>
           
            
                <a href="servicios.html">Servicios</a>
            
            
                <a href="contactanos.html">Contactanos</a>
            
            
                <a href="cita.html">Dejanos tu opinion</a>
          
            
          </div>
        </nav>
        <hr>


    
        <div class=" titulo">
            <h2> Dejanos tu Opinión!</h2> 
        </div>
        <div class="formularioReserva">
            <br>
            <br>
            <h2>Completa con tus datos</h2>
            <br>
            <br>
            <form action=" " method="POST" id="miReserva">
            Nombre: <input type="text" name="nombre" id="nombre"/>
            <br/>
            <br>
            Comentarios: <textarea type ="textarea" name = "comentario" id="comentario"></textarea>
            <br>
            <br>
            <input type="button" value="Enviar" onclick="enviar()" />
            </form>
        </div>



</body>
</html>