<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dejanos tu opionion</title>
</head>
<body>
    <h1>Bienvenido a UrbanStyle</h1>
    <div class="container">
           
        <nav class="nav-main">
            
          <ul class="nav-menu">

            <li>
                <a href="index.html">Inicio</a>
            </li>
            <li>
                <a href="nosotros.html">Nosotros</a>
            </li>
            <li>
                <a href="./resarvatuhora.html">reserva tu atencion</a>
            </li>
            <li>
                <a href="./servicios.html">Servicios</a>
            </li>
            <li>
                <a href="contactanos.html">Contactanos</a>
            </li>
            <li>
                <a href="dejanostuvaloracion.html">Dejanos tu opinion</a>
            </li>
            
          </ul>
        </nav>
        <hr>

    
        <div class=" titulo">
            <h2> Dejanos tu Opinión!</h2> 
        </div>
        <div class="formularioReserva">
            <br>
            <br>
            <h2>Completa con tus datos</h2>
            <br>
            <br>
            <form action=" " method="POST" id="miReserva">
            Nombre: <input type="text" name="nombre" id="nombre"/>
            <br/>
            <br>
            Comentarios: <textarea type ="textarea" name = "comentario" id="comentario"></textarea>
            <br>
            <br>
            <input type="button" value="Enviar" onclick="enviar()" />
            </form>
        </div>



</body>
</html>