<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <link rel="stylesheet" href="css/estilo.css" type="text/css" media="screen"/></link>
</head>
<body>
    <div ><img  src="img/logo.jpg" alt="">
    </div>
        <h1 >Recuerda que nuestro horario de atencion es de las 9:00 hrs a las 20:00 hrs de lunes a sabado.</h1> 
    <div class="container">
           
        <nav class="nav-main">
            
         <div class="barra">
            
                <a href="index.html">Inicio</a>
           
            
                <a href="nosotros.html">Nosotros</a>
            
            
                <a href="cita.html">Reserva tu atención</a>
           
            
                <a href="servicios.html">Servicios</a>
            
            
                <a href="contactanos.html">Contactanos</a>
            
            
                <a href="opinion.html">Dejanos tu opinion</a>
          
            
          </div>
        </nav>
        <hr>


<section class="columna">

<div class="columnax3">
    <img  src="img/alisado.jpg" alt="">
    <h2>Alisado Permanente</h2>
    <h3>Precio $45.000</h3>
    <a href="cita.html">Agenda tu atencion</a>
</div>
<div class="columnax3">
  <img  src="img/hombre.jpg" alt="">
  <h2>Corte Hombre</h2>
    <h3>Precio $10.000</h3>
    <a href="cita.html">Agenda tu atencion</a>
</div>
<div class="columnax3">
    <img  src="img/baby.jpg" alt="">
    <h2>Babylight</h2>
    <h3>Precio $60.000</h3>
    <a href="cita.html">Agenda tu atencion</a>
</div>
<div class="columnax3">
    <img  src="img/dama.jpg" alt="">
    <h2>corte dama</h2>
    <h3>Precio $10.000</h3>
    <a href="cita.html">Agenda tu atencion</a>
</div>
<div class="columnax3">
  <img  src="img/manicure.jpg" alt="">
  <h2>manicure y pedicure</h2>
    <h3>Precio $20.000</h3>
    <a href="cita.html">Agenda tu atencion</a>
</div>
<div class="columnax3">
    <img  src="img/degradado.jpg" alt="">
    <h2>degradados</h2>
    <h3>Precio $10.000</h3>
    <a href="cita.html">Agenda tu atencion</a>
</div>
<div class="columnax3">
    <img  src="img/Tintura.jpg" alt="">
    <h2>tinturas</h2>
    <h3>Precio $30.000</h3>
    <a href="cita.html">Agenda tu atencion</a>
</div>
<div class="columnax3">
  <img  src="img/mechas.jpg" alt="">
  <h2>mechas y reflejos</h2>
    <h3>Precio $25.000</h3>
    <a href="cita.html">Agenda tu atencion</a>
</div>
<div class="columnax3">
    <img  src="img/depilacion.jpg" alt="">
    <h2>depilacion</h2>
    <h3>Precio $20.000</h3>
    <a href="cita.html">Agenda tu atencion</a>
</div>


</section>
  
</body>
</html>